@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-form {
  background-color: #00c2e8;
  padding: 1.25rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.8rem #ccc;
  width: 80vw;
  max-width: 40rem;
  text-align: start;
}

.calculator-title {
  margin: 0 0 2rem;
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  width: 100%;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8rem 0 0.5rem;
  text-align: left;
  width: 100%;
}

.form-input {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.25rem;
  width: 100%;
}

button[type="submit"] {
  background-color: #0a8de3;
  color: #fff;
  padding: 0.8rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1.25rem 0;
}

button[type="submit"]:hover {
  background-color: #2874a6;
}

.result-container {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.error-message {
  color: #de4040;
  font-size: 1.2rem;
  font-weight: 600;
  margin: -1rem 0 1rem 19rem;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .calculator-container {
    width: auto;
    margin: auto;
  }

  .calculator-form {
    flex-direction: column;
    align-items: center;
  }

  .calculate-button {
    width: 80%;
  }

  .result-container {
    margin-top: 0;
  }

  .error-message {
    align-self: flex-end;
  }
}
